<div class="container-x">
  <div class="form-group">
    <button
      class="btn warning get-comment"
      id="get-comment"
      (click)="getCurrentComment()"
    >
      Get comment
    </button>
    <input
      class="form-control"
      type="number"
      min="1"
      max="200"
      [(ngModel)]="currentCommentId"
    />
  </div>
  <div class="comment" *ngIf="currentComment$ | async">
    <span
      class="badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-pill"
    >
      <img
        class="rounded-circle me-1"
        width="24"
        height="24"
        src="https://github.com/mdo.png"
        alt=""
      />
      <span id="email">{{ currentCommentEmail$ | async }}</span>
    </span>

    <h5>{{ currentCommentBody$ | async }}</h5>
  </div>
</div>
